{% extends 'base.html'%}
{% load static %}
{% block title %}Меню{% endblock title %}

{% block slider %}
  <div class="slider-item" style="background-image: url({% static 'images/menu-slider.jpg'%});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Our Menu</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'pages:index' %}">Home</a></span> <span>Menu</span></p>
        </div>

      </div>
    </div>
  </div>
{% endblock slider %}

{% block content %}
<!-- Menu Pizza -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Pizza</h2>
        <p>Наша самая популярная пицца </p>
      </div>
    </div>
  </div>

  <div class="container-wrap">
    <div class="row no-gutters d-flex">

      {% for dish in pizza_meals_left %}
       {% include 'block/meals_left.html'%}
        {% endfor %}

        {% for dish in pizza_meals_right %}
        {% include 'block/meals_right.html' %}
        {% endfor %}

    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Our Pizza Pricing</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        {% for dish in pizza_price_left %}
        {% include 'block/pricing.html'%}
        {% endfor %}
      </div>


      <div class="col-md-6">
        {% for dish in pizza_price_right %}
        {% include 'block/pricing.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Burger</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
  </div>
  <div class="container-wrap">
    <div class="row no-gutters d-flex">

      {% for dish in burgers %}
      {% include 'block/meals_left.html' %}
      {% endfor %}

    </div>
  </div>
  </section>

  <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Pasta</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
  </div>
  <div class="container-wrap">
    <div class="row no-gutters d-flex">

      {% for dish in pastas %}
      {% include 'block/meals_left.html' %}
      {% endfor %}

    </div>
  </div>
 </section>
 <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Drink</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
  </div>
  <div class="container-wrap">
    <div class="row no-gutters d-flex">

      {% for dish in drinks %}
      {% include 'block/meals_left.html' %}
      {% endfor %}

    </div>
  </div>
  </section>


{% endblock content %}
